Repository HPCMonitoring/sensor-manager-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

custom exception status code
  src/constants/errorMessages.ts
  src/exceptions.ts
  src/services/user.service.ts
Due: eslint --fix, prettier --write

add pkg
  package.json
  yarn.lock
Due: none

update `README.md`
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

remove unnecessay env in workflows
  .github/workflows/build-and-push.yml
  .github/workflows/test-stage.yml
Due: none

update README.md
  README.md
Due: prettier --write

add ssh to server and deploy job to workflow
  .github/workflows/build-and-push.yml
Due: none

auto download file docker-compose in github workflows
  .github/workflows/build-and-push.yml
Due: none

and doker login on VPS
  .github/workflows/build-and-push.yml
Due: none

wait until postgres accept connection before run backend
  .github/workflows/build-and-push.yml
  docker-compose.yml
Due: none

add `restart: always` to docker (thanks 1CPU core centos7)
  .github/workflows/build-and-push.yml
  docker-compose.yml
Due: none

fix `hostname` inside docker container
  src/index.ts
Due: eslint --fix, prettier --write

Fixed version of `docker/setup-buildx-action@v2`
  .github/workflows/build-and-push.yml
Due: none

implement prisma schema
  package.json
  prisma/migrations/20230225104045_init/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: none

features/auth
  .env.example
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  src/constants/constraints.ts
  src/constants/swagger.ts
  src/controllers/index.ts
  src/controllers/user.ts
  src/index.ts
  src/routes/auth.ts
  src/routes/index.ts
  src/routes/user.ts
  src/schemas/in/auth.ts
  src/schemas/in/ids.ts
  src/schemas/in/index.ts
  src/schemas/out/auth.ts
  src/schemas/out/index.ts
  src/schemas/out/user.ts
  src/services/index.ts
  src/services/user.ts
  src/types/env.d.ts
  src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix CI/CD script
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix missing org username env in ci script
  .github/workflows/ci.yml
Due: none

implement generating sample user
  .github/workflows/cd.yml
  package.json
  prisma/migrations/20230128084850_init/migration.sql
  prisma/migrations/20230227155123_init_dbschema/migration.sql
  prisma/schema.prisma
  src/constants/crypt.ts
  src/constants/index.ts
  src/controllers/auth.ts
  src/controllers/index.ts
  src/seeds/generateSampleData.ts
  yarn.lock
Due: eslint --fix, prettier --write

add verify token hook
  .barrelsby.json
  .env.example
  package.json
  src/Server.ts
  src/configs/env.ts
  src/controllers/auth.ts
  src/controllers/user.ts
  src/exceptions.ts
  src/index.ts
  src/middlewares/auth.ts
  src/middlewares/index.ts
  src/routes/auth.ts
  src/routes/user.ts
  src/types/index.ts
  src/types/serverConfig.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

customize logger & add exception lib
  .barrelsby.json
  package.json
  prisma/migrations/20230302082952_change_name_to_email/migration.sql
  prisma/schema.prisma
  src/Server.ts
  src/configs/logger.ts
  src/constants/constraints.ts
  src/constants/errorMessages.ts
  src/controllers/auth.ts
  src/controllers/user.ts
  src/exceptions.ts
  src/middlewares/auth.ts
  src/plugins/api.ts
  src/plugins/auth.ts
  src/plugins/index.ts
  src/schemas/common.ts
  src/schemas/in/auth.ts
  src/schemas/in/ids.ts
  src/schemas/in/index.ts
  src/schemas/out/auth.ts
  src/schemas/out/user.ts
  src/seeds/generateSampleData.ts
  src/services/index.ts
  src/services/user.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

add signup function
  README.md
  src/constants/errorMessages.ts
  src/constants/swagger.ts
  src/controllers/auth.ts
  src/plugins/api.ts
  src/plugins/auth.ts
  src/schemas/in/auth.ts
  src/schemas/out/auth.ts
Due: eslint --fix, prettier --write

rename & refactor sth
  src/Server.ts
  src/constants/cookie.ts
  src/constants/index.ts
  src/controllers/auth.ctrler.ts
  src/controllers/index.ts
  src/controllers/user.ctrler.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/index.ts
  src/plugins/api.plugin.ts
  src/plugins/auth.plugin.ts
  src/plugins/index.ts
  src/schemas/common.schema.ts
  src/schemas/in/auth.schema.ts
  src/schemas/in/index.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/user.schema.ts
Due: eslint --fix, prettier --write

complete auth feature
  package.json
  src/constants/cookie.ts
  src/controllers/auth.ctrler.ts
  src/middlewares/auth.middleware.ts
Due: eslint --fix, prettier --write

update CI/CD
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix missing env in CD script
  .github/workflows/cd.yml
Due: none

fix deploy missing env
  .env.example
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  src/Server.ts
  src/configs/env.ts
Due: eslint --fix, prettier --write

implement get all clusters
  .barrelsby.json
  package.json
  prisma/migrations/20230302082952_change_name_to_email/migration.sql
  prisma/migrations/20230303072237_init/migration.sql
  prisma/schema.prisma
  src/Server.ts
  src/constants/swagger.ts
  src/controllers/auth.ctrler.ts
  src/controllers/cluster.ctrler.ts
  src/controllers/index.ts
  src/controllers/user.ctrler.ts
  src/plugins/api.plugin.ts
  src/plugins/apis/cluster.plugin.ts
  src/plugins/apis/index.ts
  src/plugins/apis/user.plugin.ts
  src/plugins/auth/index.ts
  src/plugins/index.ts
  src/schemas/in/auth.schema.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/clusters.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/user.schema.ts
  src/seeds/generateSampleData.ts
  src/types/handler.d.ts
  src/types/index.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

complete cluster CRUD method
  prisma/schema.prisma
  src/constants/errorMessages.ts
  src/controllers/cluster.ctrler.ts
  src/plugins/apis/cluster.plugin.ts
  src/schemas/in/cluster.schema.ts
  src/schemas/in/index.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor readme
  README.md
Due: prettier --write

fix missing postgres_url in env file
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix prisma migrate in interactive mode
  Dockerfile
  package.json
Due: none

Fix `Dockerfile`
  Dockerfile
Due: none

implement get all current sensors
  .env.example
  package.json
  prisma/migrations/20230303100946_init/migration.sql
  prisma/schema.prisma
  src/Server.ts
  src/configs/swagger.ts
  src/constants/errorMessages.ts
  src/constants/swagger.ts
  src/controllers/cluster.ctrler.ts
  src/controllers/index.ts
  src/controllers/sensor.ctrler.ts
  src/plugins/apis/index.ts
  src/plugins/apis/sensor.plugin.ts
  src/schemas/common.schema.ts
  src/schemas/in/cluster.schema.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/sensor.schema.ts
  src/seeds/generateSampleData.ts
Due: eslint --fix, prettier --write

rename `controller` to `handler`
  .barrelsby.json
  README.md
  src/constants/swagger.ts
  src/controllers/index.ts
  src/handlers/auth.handler.ts
  src/handlers/cluster.handler.ts
  src/handlers/index.ts
  src/handlers/sensor.handler.ts
  src/handlers/user.handler.ts
  src/plugins/apis/cluster.plugin.ts
  src/plugins/apis/sensor.plugin.ts
  src/plugins/apis/user.plugin.ts
  src/plugins/auth/index.ts
  src/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

implement get detail of sensor
  prisma/migrations/20230304024846_init/migration.sql
  prisma/migrations/20230304031737_rename_table/migration.sql
  prisma/schema.prisma
  src/configs/logger.ts
  src/constants/errorMessages.ts
  src/handlers/cluster.handler.ts
  src/handlers/sensor.handler.ts
  src/plugins/apis/sensor.plugin.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/sensor.schema.ts
  src/seeds/generateSampleData.ts
Due: eslint --fix, prettier --write

using cache for ci
  .github/workflows/ci.yml
Due: none

optimize CI
  .github/workflows/ci.yml
  prisma/migrations/20230309153118_remove_sensor_status/migration.sql
  prisma/schema.prisma
  src/Server.ts
  src/handlers/cluster.handler.ts
  src/handlers/sensor.handler.ts
  src/plugins/apis/index.ts
  src/schemas/out/sensor.schema.ts
  src/seeds/generateSampleData.ts
Due: eslint --fix, prettier --write

separate jobs
  .github/workflows/cd.yml
Due: none

fix bug CD
  .github/workflows/cd.yml
Due: none

fix(sensor): refactor sth & modify return payload when get sensors by cluster ID
  .barrelsby.json
  package.json
  src/Server.ts
  src/configs/env.ts
  src/configs/logger.ts
  src/handlers/auth.handler.ts
  src/handlers/cluster.handler.ts
  src/handlers/sensor.handler.ts
  src/handlers/user.handler.ts
  src/schemas/out/sensor.schema.ts
  src/types/env.d.ts
  src/types/handler.d.ts
  src/types/index.ts
  src/types/sensor.d.ts
  src/types/serverConfig.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,js}
  prettier --write: any of: **/*.{ts,js,md}
