Repository HPCMonitoring/sensor-manager-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,js}": ["eslint --fix"],
    "**/*.{ts,js,md}": ["prettier --write"]
}

refactor(all): using single quote instead double quotes
  .prettierrc
  jest.config.js
  src/Server.ts
  src/configs/env.ts
  src/configs/index.ts
  src/configs/logger.ts
  src/configs/swagger.ts
  src/constants/cookie.ts
  src/constants/errorMessages.ts
  src/constants/index.ts
  src/constants/swagger.ts
  src/handlers/auth.handler.ts
  src/handlers/cluster.handler.ts
  src/handlers/index.ts
  src/handlers/sensor.handler.ts
  src/handlers/user.handler.ts
  src/index.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/index.ts
  src/plugins/apis/cluster.plugin.ts
  src/plugins/apis/index.ts
  src/plugins/apis/sensor.plugin.ts
  src/plugins/apis/user.plugin.ts
  src/plugins/auth/index.ts
  src/plugins/index.ts
  src/prisma.ts
  src/schemas/common.schema.ts
  src/schemas/in/auth.schema.ts
  src/schemas/in/cluster.schema.ts
  src/schemas/in/index.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/sensor.schema.ts
  src/schemas/out/user.schema.ts
  src/seeds/generateSampleData.ts
  src/types/env.d.ts
  src/types/sensor.d.ts
  src/utils.ts
Due: eslint --fix, prettier --write

ci: change node version
  .github/workflows/ci.yml
Due: none

feat(filter template): get all filter templates API
  package.json
  prisma/migrations/20230315031335_add_name_and_remarks_for_filter_templates/migration.sql
  prisma/schema.prisma
  src/handlers/user.handler.ts
  src/plugins/apis/index.ts
  src/plugins/apis/user.plugin.ts
  src/schemas/common.schema.ts
  src/schemas/in/auth.schema.ts
  src/schemas/in/cluster.schema.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/filterTemplate.schema.ts
  src/schemas/out/index.ts
  src/seeds/generateSampleData.ts
Due: eslint --fix, prettier --write

feat(kafka broker): get list API
  src/handlers/user.handler.ts
  src/plugins/apis/user.plugin.ts
  src/schemas/out/kafkaBroker.schema.ts
Due: eslint --fix, prettier --write

refactor(dto & schema): change type & variable name
  prisma/schema.prisma
  src/handlers/auth.handler.ts
  src/handlers/cluster.handler.ts
  src/handlers/sensor.handler.ts
  src/plugins/apis/cluster.plugin.ts
  src/plugins/apis/sensor.plugin.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/filterTemplate.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/sensor.schema.ts
  src/schemas/out/user.schema.ts
Due: eslint --fix, prettier --write

feat(sensor): update get sensor detail
  src/handlers/sensor.handler.ts
  src/schemas/out/sensor.schema.ts
Due: eslint --fix, prettier --write

add websocket sensor manager
  .barrelsby.json
  package.json
  src/Server.ts
  src/constants/codes.ts
  src/constants/index.ts
  src/constants/wErrorMessages.ts
  src/handlers/index.ts
  src/handlers/wAuth.handler.ts
  src/models/index.ts
  src/models/sensor.model.ts
  src/schemas/in/auth.schema.ts
  src/schemas/in/index.ts
  src/schemas/in/wSensor.schema..ts
  src/schemas/out/auth.schema.ts
  src/services/index.ts
  src/services/sensorManager.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

add dependencies
  package.json
  yarn.lock
Due: none

refactor(all): rename type
  src/handlers/cluster.handler.ts
  src/handlers/sensor.handler.ts
  src/schemas/in/cluster.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/sensor.schema.ts
  src/seeds/generateSampleData.ts
Due: eslint --fix, prettier --write

feat(sensor): edit & delete sensor
  src/constants/constraints.ts
  src/handlers/sensor.handler.ts
  src/plugins/apis/cluster.plugin.ts
  src/plugins/apis/sensor.plugin.ts
  src/schemas/common.schema.ts
  src/schemas/in/cluster.schema.ts
  src/schemas/in/index.ts
  src/schemas/in/sensor.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/sensor.schema.ts
  src/seeds/generateSampleData.ts
Due: eslint --fix, prettier --write

refactor(schema): reuse nullable config
  src/handlers/auth.handler.ts
  src/schemas/in/auth.schema.ts
  src/schemas/in/sensor.schema.ts
  src/schemas/out/cluster.schema.ts
  src/schemas/out/filterTemplate.schema.ts
Due: eslint --fix, prettier --write

refactor(cd): seed data in prod
  .github/workflows/cd.yml
  package.json
  prisma/seed.ts
  src/schemas/in/index.ts
Due: eslint --fix, prettier --write

fix(cd): fix build exclude
  package.json
  tsconfig.compile.json
Due: none

fix(cd): add waiting for service ready before seed
  .github/workflows/cd.yml
Due: none

fix(cd): remove it flag on dock
  .github/workflows/cd.yml
  docker-compose.yml
Due: none

Update cd.yml
  .github/workflows/cd.yml
Due: none

add some scripts and fix CI
  .github/workflows/cd.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore(prisma): add default script for sensor topic config
  prisma/schema.prisma
Due: none

update ws message format
  package.json
  src/constants/codes.ts
  src/handlers/wAuth.handler.ts
  src/schemas/in/wSensor.schema..ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/wscommon.schema.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(docker): set up kafka config UI
  .barrelsby.json
  docker-compose.dev.yml
  package.json
  src/constants/index.ts
  src/constants/kafka.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(sensor): create kafka admin service
  src/services/index.ts
  src/services/kafkaAdmin.ts
Due: eslint --fix, prettier --write

feat(script): validate sensor config script
  package.json
  prisma/migrations/20230328143621_add_default_script/migration.sql
  prisma/seed.ts
  src/Server.ts
  src/constants/errorMessages.ts
  src/handlers/sensor.handler.ts
  src/schemas/in/index.ts
  src/schemas/in/script.schema.ts
  src/services/kafkaAdmin.ts
  src/types/monitorData.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(sensor): wrap yaml parsing & validating in try catch block
  src/handlers/sensor.handler.ts
Due: eslint --fix, prettier --write

[improve] update logging config
  src/utils.ts
Due: eslint --fix, prettier --write

[feature] request sys info after connection setup
  src/Server.ts
  src/constants/codes.ts
  src/handlers/index.ts
  src/handlers/wAuth.handler.ts
  src/handlers/wSetup.handler.ts
  src/models/sensor.model.ts
  src/schemas/out/auth.schema.ts
  src/schemas/out/wscommon.schema.ts
  src/services/sensorManager.ts
Due: eslint --fix, prettier --write

fix(logger): make logger global
  src/Server.ts
  src/global.d.ts
  src/schemas/in/script.schema.ts
Due: eslint --fix, prettier --write

refactor(dto): rename folder `schema` -> `dto`
  .barrelsby.json
  README.md
  src/Server.ts
  src/dtos/common.dto.ts
  src/dtos/in/auth.dto.ts
  src/dtos/in/cluster.dto.ts
  src/dtos/in/index.ts
  src/dtos/in/script.dto.ts
  src/dtos/in/sensor.dto.ts
  src/dtos/out/auth.dto.ts
  src/dtos/out/cluster.dto.ts
  src/dtos/out/filterTemplate.dto.ts
  src/dtos/out/index.ts
  src/dtos/out/kafkaBroker.dto.ts
  src/dtos/out/sensor.dto.ts
  src/dtos/out/user.dto.ts
  src/handlers/auth.handler.ts
  src/handlers/cluster.handler.ts
  src/handlers/sensor.handler.ts
  src/handlers/user.handler.ts
  src/handlers/wSetup.handler.ts
  src/plugins/apis/cluster.plugin.ts
  src/plugins/apis/sensor.plugin.ts
  src/plugins/apis/user.plugin.ts
  src/plugins/auth/index.ts
  src/schemas/in/index.ts
  src/schemas/out/index.ts
  src/services/sensorManager.ts
  tsconfig.json
Due: eslint --fix, prettier --write

[hotfix] syntax error in import
  src/dtos/in/cluster.dto.ts
  src/dtos/in/script.dto.ts
  src/dtos/in/sensor.dto.ts
  src/dtos/out/auth.dto.ts
  src/dtos/out/cluster.dto.ts
  src/dtos/out/filterTemplate.dto.ts
  src/dtos/out/kafkaBroker.dto.ts
  src/dtos/out/sensor.dto.ts
Due: eslint --fix, prettier --write

feat(sensor): get sensor connection status from sensor manager
  src/dtos/out/sensor.dto.ts
  src/handlers/sensor.handler.ts
  src/services/sensorManager.ts
  src/types/sensor.d.ts
Due: eslint --fix, prettier --write

refactor(sensor): use interface to send auth message
  src/handlers/wSetup.handler.ts
  src/services/sensorManager.ts
Due: eslint --fix, prettier --write

feat(sensor): update yaml filter type and schema
  src/dtos/in/script.dto.ts
  src/types/monitorData.d.ts
Due: eslint --fix, prettier --write

feat(sensor): add sensor config parser
  src/services/index.ts
  src/services/sensorConfigParser.ts
Due: eslint --fix, prettier --write

test(sensor): add unit test for config parser
  jest.config.js
  package.json
  src/tests/script.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(sensor): update process filter parser
  src/services/sensorConfigParser.ts
  src/tests/script.test.ts
Due: eslint --fix, prettier --write

fix(ci): hot fix dot env in test phase
  .github/workflows/ci.yml
Due: none

improve(sensor): delete redundant entry in req res callback
  src/services/sensorManager.ts
Due: eslint --fix, prettier --write

chore(db): update seed for sensor filter
  prisma/seed.ts
Due: eslint --fix, prettier --write

feat(sensor): add config command
  src/constants/codes.ts
  src/constants/constraints.ts
  src/constants/errorMessages.ts
  src/handlers/sensor.handler.ts
  src/interfaces/sensor.ts
  src/services/sensorConfigParser.ts
  src/services/sensorManager.ts
Due: eslint --fix, prettier --write
