Repository HPCMonitoring/sensor-manager-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,js}": ["eslint --fix"],
    "**/*.{ts,js,md}": ["prettier --write"]
}

enable husky script
  .husky/post-commit
  .husky/pre-commit
Due: none

set up database
  .env
  Dockerfile
  docker-compose.dev.yml
  jest.config.js
  package.json
  prisma/migrations/20230122044213_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  processes.config.js
  src/Server.integration.spec.ts
  src/controllers/rest/HelloWorldController.integration.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

add project descriptions
  README.md
Due: prettier --write

modify prettier config
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  README.md
  package.json
Due: prettier --write

add peer dependencies and modify docker build
  .env
  .env.example
  .gitignore
  Dockerfile
  docker-compose.yml
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

remove unnecessary path
  .barrelsby.json
  Dockerfile
  docker-compose.yml
  src/Server.ts
  src/controllers/HelloWorldController.spec.ts
  src/controllers/HelloWorldController.ts
  src/controllers/index.ts
  src/controllers/pages/IndexController.ts
  src/controllers/pages/index.ts
  tsconfig.json
  views/swagger.ejs
Due: eslint --fix, prettier --write

add custom error response message
  .barrelsby.json
  package.json
  prisma/migrations/20230122135202_init/migration.sql
  src/Server.ts
  src/config/ExceptionFilter.ts
  src/constants/errorMessages.ts
  src/constants/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor code
  src/Server.ts
  src/config/ExceptionFilter.ts
  src/config/index.ts
Due: eslint --fix, prettier --write

remove fucking webpack, babel & unused dependencies
  .babelrc
  Dockerfile
  package.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix Dockerfile & change barrelsby -> devDependencies
  Dockerfile
  package.json
Due: none

add `ts-node` for @prisma/client
  package.json
  yarn.lock
Due: none

fix build production error
  Dockerfile
  tsconfig.compile.json
  tsconfig.json
Due: none

Update README.md
  README.md
Due: prettier --write

add workflow on PR
  .github/workflows/test-stage.yml
Due: none

change image name
  .github/workflows/test-stage.yml
Due: none

fix invalid `envs.` access
  .github/workflows/test-stage.yml
Due: none

add workflow triggered on push master
  .github/workflows/build-and-push.yml
Due: none

fix `Publishing` action
  .github/workflows/build-and-push.yml
  .github/workflows/test-stage.yml
  package.json
Due: none

fix image name
  .github/workflows/build-and-push.yml
Due: none

fix image name & tag
  .github/workflows/build-and-push.yml
  .github/workflows/test-stage.yml
Due: none

fix syntax
  .github/workflows/build-and-push.yml
Due: none

rename image name & username to login ghcr
  .github/workflows/build-and-push.yml
  .github/workflows/test-stage.yml
Due: none

reorder step and add debug flag
  .github/workflows/build-and-push.yml
Due: none

remove buildx
  .github/workflows/build-and-push.yml
Due: none

use raw command instead of lib in workflow
  .dockerignore
  .github/workflows/build-and-push.yml
Due: none

fix `Build` step
  .github/workflows/build-and-push.yml
Due: none

fix incorrect login
  .github/workflows/build-and-push.yml
Due: none

fix syntax ._.
  .github/workflows/build-and-push.yml
Due: none

cmn @@@
  .github/workflows/build-and-push.yml
Due: none

turn back to use library
  .github/workflows/build-and-push.yml
Due: none

use raw command instead
  .github/workflows/build-and-push.yml
Due: none

rename image & change username when login
  .github/workflows/build-and-push.yml
Due: none

try to use lib
  .github/workflows/build-and-push.yml
Due: none

update docker file
  docker-compose.yml
Due: none

migrate from tsed => fastify
  .barrelsby.json
  package.json
  src/Server.ts
  src/config/ExceptionFilter.ts
  src/config/envs/index.ts
  src/config/index.ts
  src/config/logger/index.ts
  src/controllers/HelloWorldController.spec.ts
  src/controllers/HelloWorldController.ts
  src/index.ts
  src/services/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

init project with `fastify`
  .barrelsby.json
  .eslintrc
  Dockerfile
  package.json
  prisma/schema.prisma
  src/configs/env.config.ts
  src/configs/index.ts
  src/configs/logger.config.ts
  src/controllers/hello.ctrler.ts
  src/index.ts
  src/routes/hello.route.ts
  src/routes/index.ts
  src/schemas/in/hello.schema.ts
  src/schemas/in/index.ts
  src/schemas/out/hello.schema.ts
  src/schemas/out/index.ts
  src/types/env.type.ts
  src/types/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

remove set up qemu and buildx
  .github/workflows/test-stage.yml
Due: none

add swagger config
  package.json
  src/configs/index.ts
  src/configs/swagger.config.ts
  src/constants/index.ts
  src/constants/swagger.ts
  src/index.ts
  src/routes/hello.route.ts
  tsconfig.compile.json
  yarn.lock
Due: eslint --fix, prettier --write

add sample for prisma usage
  .barrelsby.json
  prisma/migrations/20230122135202_init/migration.sql
  prisma/migrations/20230128084850_init/migration.sql
  src/configs/env.ts
  src/configs/index.ts
  src/configs/logger.ts
  src/configs/swagger.ts
  src/constants/constraints.ts
  src/constants/index.ts
  src/constants/swagger.ts
  src/controllers/hello.ctrler.ts
  src/controllers/index.ts
  src/controllers/user.ctrler.ts
  src/index.ts
  src/repositories/index.ts
  src/routes/hello.route.ts
  src/routes/index.ts
  src/routes/user.route.ts
  src/schemas/in/hello.schema.ts
  src/schemas/in/ids.schema.ts
  src/schemas/out/hello.schema.ts
  src/schemas/out/index.ts
  src/schemas/out/user.schema.ts
  src/services/index.ts
  src/services/user.service.ts
  src/utils/index.ts
  src/utils/swaggerTagRoutes.ts
  tsconfig.json
Due: eslint --fix, prettier --write

add custem error
  .barrelsby.json
  package.json
  src/exceptions.ts
  src/prisma.ts
  src/services/user.service.ts
  src/utils.ts
  src/utils/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write
