Repository HPCMonitoring/sensor-manager-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,js}": ["eslint --fix"],
    "**/*.{ts,js,md}": ["prettier --write"]
}

fix(sensor): resolve warning reply is already sent in sensor handler
  src/handlers/sensor.handler.ts
Due: eslint --fix, prettier --write

ci(refactor): update CD script
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
Due: none

fix(ci): missing envs
  .github/workflows/ci.yml
Due: none

fix(testing): error when read env
  package.json
  src/configs/env.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(cd): missing print env when deployment
  .github/workflows/cd.yml
Due: none

fix(cd): fix deployment missing env
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix(cd): fix typo
  .github/workflows/cd.yml
Due: none

fix(cd): fix override env
  .github/workflows/cd.yml
Due: none

fix(kafka): disable kafka admin
  src/Server.ts
  src/services/kafkaAdmin.ts
Due: eslint --fix, prettier --write

refactor(sensor): remove redundant code
  src/handlers/sensor.handler.ts
  src/services/sensorManager.ts
Due: eslint --fix, prettier --write

fix(sensor): wrong datatype in req-res websocket call
  src/handlers/wSetup.handler.ts
  src/services/sensorManager.ts
Due: eslint --fix, prettier --write

feat(sensor): send config when setup sensor
  src/handlers/wSetup.handler.ts
Due: eslint --fix, prettier --write

refactor(sensor): script validation
  .prettierignore
  jest.config.js
  prisma/seed.ts
  src/dtos/in/script.dto.ts
  src/prisma.ts
  src/services/sensorConfigParser.ts
  src/tests/script.test.ts
  src/types/monitorData.d.ts
  src/types/parser.d.ts
  src/utils.ts
  test/generateCommand.test.ts
  test/scriptChecker.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(script validation): write unit test for script validation & refactor code
  src/dtos/in/script.dto.ts
  src/types/monitorData.d.ts
  test/scriptChecker.test.ts
Due: eslint --fix, prettier --write

refactor(configparser): rewrite config parsing to prefix filter
  src/constants/errorMessages.ts
  src/dtos/in/script.dto.ts
  src/handlers/sensor.handler.ts
  src/handlers/wSetup.handler.ts
  src/interfaces/sensor.ts
  src/services/sensorConfigParser.ts
  src/services/sensorManager.ts
  src/types/monitorData.d.ts
  src/types/ws.d.ts
  test/generateCommand.test.ts
Due: eslint --fix, prettier --write

chore(test): write unit test for filter parsing
  test/generateCommand.test.ts
  test/generateFilter.test.ts
Due: eslint --fix, prettier --write

perf(filter): optimize prefix filter generator
  src/services/sensorConfigParser.ts
Due: eslint --fix, prettier --write

fix(seed): remove "http" prefix of broker url
  prisma/seed.ts
Due: eslint --fix, prettier --write

fix(sensor-schema): update script schema after parsing
  prisma/seed.ts
  src/dtos/in/script.dto.ts
  src/services/sensorConfigParser.ts
  src/types/monitorData.d.ts
  test/generateFilter.test.ts
  test/scriptChecker.test.ts
Due: eslint --fix, prettier --write

refactor(db schema): simplify db schemas
  prisma/migrations/20230419173006_simplify_schemas/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/dtos/in/sensor.dto.ts
  src/dtos/out/index.ts
  src/dtos/out/kafkaBroker.dto.ts
  src/dtos/out/sensor.dto.ts
  src/handlers/sensor.handler.ts
  src/handlers/user.handler.ts
  src/plugins/apis/user.plugin.ts
Due: eslint --fix, prettier --write

fix(dto schema): fix sensor detail dto schema
  src/dtos/out/sensor.dto.ts
Due: eslint --fix, prettier --write

refactor: make responses return ID for mutations
  src/dtos/out/cluster.dto.ts
  src/handlers/cluster.handler.ts
  src/plugins/apis/cluster.plugin.ts
Due: eslint --fix, prettier --write

fix: remove job's ID when update sensor
  src/dtos/in/sensor.dto.ts
Due: eslint --fix, prettier --write

feat(sensor): handle error code in sensor sending config
  src/constants/errorMessages.ts
  src/handlers/sensor.handler.ts
Due: eslint --fix, prettier --write

fix(sensor): fix wrong module import
  src/handlers/wSetup.handler.ts
Due: eslint --fix, prettier --write

fix(sensor config): replace null field alias by empty string
  src/handlers/sensor.handler.ts
  src/utils.ts
Due: eslint --fix, prettier --write

chore(docker): add elasticsearch and kibana to docker compose
  .env.example
  docker-compose.yml
Due: none

chore(git): update gitignore
  .gitignore
Due: none

fix(ws): fix wrong query in sensor setup phase
  src/handlers/wSetup.handler.ts
Due: eslint --fix, prettier --write

feat(scriber): init scriber service
  package.json
  src/index.ts
  src/services/index.ts
  src/services/sensorScriber.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(test): handle when ast.fields is null & fix testcases
  src/utils.ts
  test/scriptChecker.test.ts
Due: eslint --fix, prettier --write

build(docker-compose.dev.yml): add elastic & kibana
  docker-compose.dev.yml
Due: none

Temporarily disable deploy job
  .github/workflows/cd.yml
Due: none

build(docker-compose.dev.yml): fix mem limit
  README.md
  docker-compose.dev.yml
  package.json
  src/index.ts
  src/services/sensorScriber.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

chore: remove kafka scriber (migrate to another repository)
  package.json
  src/constants/index.ts
  src/constants/kafka.ts
  src/index.ts
  src/services/index.ts
  src/services/kafkaAdmin.ts
  src/services/sensorScriber.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(seed): modify sample template script
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --write

fix(script): add optional for process filters
  src/dtos/in/script.dto.ts
  src/services/sensorConfigParser.ts
  src/types/monitorData.d.ts
Due: eslint --fix, prettier --write

chore(prisma): update versions
  package.json
  src/Server.ts
  yarn.lock
Due: eslint --fix, prettier --write
